* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url('../../client/src/utils/homee.png');
  background-size: auto;
  background-attachment: fixed;

  background-repeat: no-repeat;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
